html,
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  outline: 0;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h6,
p {
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}

button,
input {
  overflow: visible;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

label {
  margin-bottom: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

:root {
  --font-family: "Space Grotesk", sans-serif;
  --transition: 0.2s all ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(39.81%, #fff), color-stop(99.54%, #acd1f8));
  background: linear-gradient(180deg, #fff 39.81%, #acd1f8 99.54%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 20px;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: #000;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.welcome__title {
  font-weight: 700;
  font-size: 28px;
  color: #98b0ff;
  margin-bottom: 70px;
}
.welcome__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 19px;
  margin-top: 63px;
}
.welcome__subtitle {
  font-weight: 700;
  font-size: 20px;
  color: #000;
}
.welcome__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  color: #000;
  margin-bottom: 204px;
  width: 310px;
}
.welcome__button {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  -webkit-box-shadow: 0 8px 10px 0 rgba(37, 163, 250, 0.35);
          box-shadow: 0 8px 10px 0 rgba(37, 163, 250, 0.35);
  background: -webkit-gradient(linear, left top, left bottom, from(#0491f9), to(#62a6d8));
  background: linear-gradient(180deg, #0491f9 0%, #62a6d8 100%);
  border-radius: 15px;
  padding: 16px;
  width: 320px;
}

.welcome-image__first {
  position: absolute;
  top: 108px;
  left: 28px;
}
.welcome-image__second {
  position: absolute;
  top: 312px;
  left: 25px;
}
.welcome-image__three {
  position: absolute;
  top: 108px;
  right: 20px;
}
.welcome-image__four {
  position: absolute;
  top: 300px;
  right: 10px;
}

.home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}
.home-page__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 53px;
}
.home-page__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #d5d6f2;
  border-radius: 12px;
  width: 36px;
  height: 36px;
}
.home-page__menu img {
  width: 20px;
  height: 20px;
}
.home-page__avatar {
  border: 1px solid #d5d6f2;
  border-radius: 12px;
  width: 36px;
  height: 36px;
}
.home-page__manage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 0 15px;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 125, 196, 0.51)), color-stop(99.99%, #2092e1));
  background: linear-gradient(180deg, rgba(23, 125, 196, 0.51) 0%, #2092e1 99.99%);
  width: 331px;
  height: 115px;
  margin-inline: auto;
  margin-bottom: 30px;
}
.home-page__text {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  width: 157px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.home-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 32px;
}
.home-category__title {
  margin-bottom: 25px;
}
.home-category__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 42px;
}
.home-category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-category__item img {
  border: 1px solid #d5d6f2;
  border-radius: 12px;
  width: 45px;
  height: 45px;
  background: #fff;
  padding: 10px;
  margin-bottom: 13px;
}
.home-category #shopButton img {
  padding-left: 8px;
}
.home-category__describe {
  font-weight: 400;
  font-size: 12px;
  color: #000;
}

.home-tasks__title {
  margin-bottom: 30px;
}
.home-tasks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #d5d6f2;
  border-radius: 12px;
  background: #fff;
  padding: 20px 15px;
}
.home-tasks__item:active, .home-tasks__item:focus {
  border: 2px solid var(--category-border-color);
  -webkit-box-shadow: 0 0 0 1px var(--category-border-color);
          box-shadow: 0 0 0 1px var(--category-border-color);
}
.home-tasks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  max-height: 400px;
  overflow-y: auto;
}
.home-tasks__func {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
}
.home-tasks__text {
  font-weight: 400;
  font-size: 12px;
  color: #000;
  word-wrap: break-word;
}
.home-tasks__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 12px;
  color: #62a6d8;
  text-decoration: none;
}
.home-tasks__time span {
  font-size: 20px;
  color: gray;
}

.bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 112px 112px 0 0;
}

.navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  position: relative;
}

.add-button {
  width: 60px;
  height: 60px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  position: absolute;
  top: -25px;
  z-index: 2;
}

.circle-button {
  position: absolute;
  top: -30px;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70px;
  height: 70px;
  background-color: white;
}
.circle-button::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  -webkit-box-shadow: 15px 18px #fff;
          box-shadow: 15px 18px #fff;
  border-radius: 50%;
  top: 3px;
  left: -27px;
}
.circle-button::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  -webkit-box-shadow: -15px 18px #fff;
          box-shadow: -15px 18px #fff;
  border-radius: 50%;
  top: 3px;
  right: -27px;
}

.nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
  width: 100%;
  padding: 0;
  margin-top: 20px;
  list-style: none;
}

:is(.icons-left, .icons-right) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27px;
}

.nav-icons li {
  text-align: center;
}

.nav-icons a img {
  width: 30px;
  height: 30px;
}

.custom-radio {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}

input[type=checkbox] {
  display: none;
}

.my-label {
  display: inline-block;
  width: 21px;
  height: 21px;
  border: 2px solid #79a7d8;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.my-label::after {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  background-color: #79a7d8;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

input[type=checkbox]:checked + .my-label::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  position: relative;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin: 0 0 10px;
  font-size: 20px;
  text-align: center;
  color: #333;
}

#taskForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

#taskForm label {
  font-size: 14px;
  color: #555;
}

#taskForm input,
#taskForm select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

#taskForm button[type=submit] {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

#closeModal {
  position: absolute;
  top: -48px;
  right: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.material-icons-outlined {
  padding: 5px;
  font-size: 30px;
  border-radius: 50%;
  background: white;
}

.modal-content {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 0;
  left: 6px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#editTaskForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.save-button {
  margin-top: 5px;
  background-color: #007bff;
  color: white;
  padding: 8px 10px;
  border-radius: 8px;
  width: 100px;
}

.home-page__nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 300px;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 10;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.home-page__nav.active {
  left: 0;
}

.no-scroll {
  overflow: hidden;
}

.home-page__nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.home-page__nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 10px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.home-page__nav ul li a:hover {
  color: #007bff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: none;
}

.overlay.active {
  display: block;
}

.close-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 32px;
}/*# sourceMappingURL=style.css.map */