.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 53px;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d5d6f2;
    border-radius: 12px;
    width: 36px;
    height: 36px;
    img {
      width: 20px;
      height: 20px;
    }
  }

  &__avatar {
    border: 1px solid #d5d6f2;
    border-radius: 12px;
    width: 36px;
    height: 36px;
  }

  &__manage {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 15px;
    border-radius: 20px;
    background: linear-gradient(
      180deg,
      rgba(23, 125, 196, 0.51) 0%,
      #2092e1 99.99%
    );
    width: 331px;
    height: 115px;
    margin-inline: auto;
    margin-bottom: 30px;
  }

  &__text {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    width: 157px;
  }
}
.home-category {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  &__title {
    margin-bottom: 25px;
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      border: 1px solid #d5d6f2;
      border-radius: 12px;
      width: 45px;
      height: 45px;
      background: #fff;
      padding: 10px;
      margin-bottom: 13px;
    }
  }

  #shopButton {
    img {
      padding-left: 8px;
    }
  }

  &__describe {
    font-weight: 400;
    font-size: 12px;
    color: #000;
  }
}
.home-tasks {
  &__title {
    margin-bottom: 30px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d5d6f2;
    border-radius: 12px;
    background: #fff;
    padding: 20px 15px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 400px;
    overflow-y: auto;
  }

  &__func {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    color: #000;
  }

  &__time {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    color: #62a6d8;
    span {
      font-size: 20px;
      color: gray;
    }
  }
}

.bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 112px 112px 0 0;
  &::before {
    content: '';
  }
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  position: relative;
}

.add-button {
  width: 60px;
  height: 60px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  position: absolute;
  top: -25px;
  z-index: 2;
}
.circle-button {
  position: absolute;
  top: -30px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 70px;
  background-color: white;
  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    box-shadow: 15px 18px #fff;
    border-radius: 50%;
    top: 3px;
    left: -27px;
  }
  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    box-shadow: -15px 18px #fff;
    border-radius: 50%;
    top: 3px;
    right: -27px;
  }
}
.nav-icons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  padding: 0;
  margin-top: 20px;
  list-style: none;
}

:is(.icons-left, .icons-right) {
  display: flex;
  gap: 27px;
}

.nav-icons li {
  text-align: center;
}

.nav-icons a img {
  width: 30px;
  height: 30px;
}

.custom-radio {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}

input[type='checkbox'] {
  display: none;
}

.my-label {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 2px solid #79a7d8;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  &::after {
    content: '';
    display: block;
    width: 50%;
    height: 50%;
    background-color: #79a7d8;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease;
  }
}

input[type='checkbox']:checked + .my-label::after {
  transform: translate(-50%, -50%) scale(1);
}

//Modal

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin: 0 0 10px;
  font-size: 20px;
  text-align: center;
  color: #333;
}

#taskForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#taskForm label {
  font-size: 14px;
  color: #555;
}

#taskForm input,
#taskForm select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

#taskForm button[type='submit'] {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

#closeModal {
  position: absolute;
  top: -48px;
  right: 0;
  background: transparent;
  border: none;

  cursor: pointer;
}
.material-icons-outlined {
  padding: 5px;
  font-size: 30px;
  border-radius: 50%;
  background: white;
}
